h1 {
font-family: cursive, sans-serif;
font-size: 1.7em;
max-width: 100%;
}
p {
  text-decoration: none;
  font-style: italic;
  font-family: cursive, sans-serif;
  max-width: 100%;
}
h2 {
  font-size: .9em;
}
section {
  position: relative;
}
#salmon {
  max-width: 100%;
  background: rgb(252,255,244);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 );
}
.salesItem {
  position: relative;
  display: table-row;
}
fieldset {
  max-width: 100%;
}
img {
  max-width: 100%;
}
body {
  font-family: cursive, sans-serif;
  max-width: 50%;
  margin-left: 5%;
  height: auto;
}
#hrLine {
  height: auto;
  max-width: 100%;
  background: rgb(254,187,187); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%);
  background: -webkit-linear-gradient(45deg,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
  background: linear-gradient(45deg,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 );
}
.salmonBgrd {
  background: rgb(254,187,187); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%);
  background: -webkit-linear-gradient(45deg,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
  background: linear-gradient(45deg,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 );  
}
#tempBookmark-1 {
  text-align: center;
  max-width: 100%;
  height: 100px;
}
fieldset {
  font:100%/1 cursive, sans-serif;
}
button {
  font:100%/1 cursive, sans-serif;
}
form {
  font-family: cursive, sans-serif;
  padding: 3%;
  font:100%/1 cursive, sans-serif;
  max-width: 65%;
}
ul {
  padding: 2%;
  list-style: none;
}
li {
  padding: 1%;
}
a {
  font-size: .7em;
}
#newStoreForm {
  font-size: 1em;
  font-family: cursive, sans-serif;
  padding: 2%;
}
table {
  background: -webkit-linear-gradient(#febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: -o-linear-gradient(#febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(#febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 );
  border-spacing: 0.5em;
  width: 70%;
  font-family: cursive, sans-serif;
  font-size: .7em;
  border-color: #000;
}
td {
  padding: 0.15em;
  vertical-align: bottom;
}
